
  
a {
    text-decoration: none;
}
  
li {
    list-style-type: none;
}
  
figure, h4, h3, h2, h1, p, time, ul {
    margin: 0;
    padding: 0;
}

body {
  position: relative;

  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 450px;
  
  position: relative;

  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000;
  z-index: 0;
}

.header::after {
  position: absolute;

  content: "";
  width: 100%;
  height: 100%;

  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0.6;

  z-index: -1;
}
  
.header-block {
    width: 1200px;
    height: 450px;
    
    padding: 28px 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
    
    box-sizing: border-box;
}
  
.logo-menu {
    height: 41px;

    padding-left: 4px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.logo {
    width: 180px;
    height: 41px;
}
  
.menu-link {
    display: flex;
    
    padding-top: 13px;
}

.menu {
  display: none;
}

.line_menu {
  position: relative; 

  width: 23px;
  height: 7px;
  margin-right: 5px;
  margin-top: 18px;
  border-top: 3px solid white;
  box-sizing: border-box;
}

.line_menu::after {
  position: absolute;
  content: "";

  width: 23px;
  height: 7px;
  margin-right: 35px;
  border-top: 3px solid white;
  box-sizing: border-box;
  top: 5px;
}

.line_menu::before {
  position: absolute;
  content: "";

  width: 23px;
  height: 7px;
  margin-right: 35px;
  border-top: 3px solid white;
  box-sizing: border-box;
  top: -11px;
}

.item {
    list-style-type: none;
}
  
.item:nth-child(n+2) {
    margin-left: 35px;
}
  
.item-link {
    font-family: "open sans", arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    
    text-decoration: none;
    text-transform: uppercase;

    z-index: 1;
}
  
.content-header {
    min-height: 150px;
    
    justify-content: center;
    display: flex;
}
  
.text-title-header {
    font-family: open sans;
    font-weight: bold;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 73px;
    width: 700px;
    padding-top: 105px;
}

.text_trands {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;

    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0f0d0e;
    
    text-transform: uppercase;
}
  
.text_trands::after {
    content: "";
    
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px;
    
    width: 66px;
    height: 17px;
    
    box-sizing: border-box;
    border-bottom: 3px solid #e1d9bd;
}

.trends {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.trend {
    width: 100%;
    min-height: 320px;
    margin-top: 26px;

    display: flex;
    gap: 5px;
}

.card {
    position: relative;

    width: calc(100%/4);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 21px;
    padding-right: 21px;
    box-sizing: border-box;

    align-items: end;

    display: flex;

    z-index: 0;
}

.card::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.trend_one {
    background-image: url(../images/trend1.jpg);
    background-size: cover;
}

.trend_two {
    background-image: url(../images/trend2.jpg);
    background-size: cover;
}

.trend_three {
    background-image: url(../images/trend3.jpg);
    background-size: cover;
}

.trend_four {
    background-image: url(../images/trend4.jpg);
    background-size: cover;
}

.info_card {
    border: 3px solid #7f763c;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 38px;
    padding-bottom: 28px;
    padding-right: 30px;
    min-height: 146px;
}

.tag {
    font-size: 14px;
    margin-bottom: 4px;
}

.tag:nth-child(n+2) {
    margin-left: 18px;
}
  
.tag:hover {
    text-decoration: underline;
    color: #dcd2b8;
}

.text_card {
    font-size: 20px;

    font-family: "open sans", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    color: white;
}

.text_card:hover {
  color: #816829;
} 

.main {
    width: 1200px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 61px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .articles {
    width: 778px;
    
    display: flex;
    flex-direction: column;
  }
  
  .article {
    width: 778px;
    min-height: 294px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .article:nth-child(n+2) {
    margin-top: 60px;
  }
  
  .image {
    background: #eff6f1;
    width: 381px;
    height: 294px;
  }
  
  .img {
    width: 100%;
    height: 100%;

    margin-top: auto;
    margin-bottom: auto;
  }
  
  .info {
    width: 367px;
    min-height: 294px;
    
    display: flex;
    flex-direction: column;
  }
  
  .tags {
    min-height: 19px;
    
    display: flex;
    flex-wrap: wrap;
  
    text-transform: uppercase;
    list-style-type: none;
  }
  
  .tag {
    margin-bottom: 2px;
  }  
  
  .tag:nth-child(n+2) {
    margin-left: 18px;
  }
  
  .tag:hover {
    text-decoration: underline;
    color: #dcd2b8;
  }
  
  .tag-link {
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #b59f5b;
  }
  
  .title {
    width: 347px;
    min-height: 68px;
    padding-top: 4px;
    
    box-sizing: border-box;
    text-transform: uppercase;
  }
  
  .text_title {
    text-decoration: none;
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0f0d0e;
    line-height: 24px;
  }
  
  .text_title:hover {
    color: #b59f5b;
  }
  
  .data_author {
    min-height: 60px;
    padding-top: 14px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .data {
    width: 80px;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #888888;
  }
  
  .author {
    width: 100%;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000;
  }
  
  .description {
    min-height: 147px;
    padding-top: 18px;
    box-sizing: border-box;
  }
  
  .text {
    font-family: "open sans", arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #0f0d0e;
  }
  
  .text:nth-child(n+2) {
    margin-top: 13px;
  }
  
  .sidebar {
    width: 272px;
    
    display: flex;
    flex-direction: column;
  }
  
  .aside-item {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 58px;
  }
  
  .title-articles {
    width: 272px;
    height: 55px;
    
    display: flex;
    flex-direction: column;
  }
  
  .text__title__sidebar {
    margin-top: -4px;
    margin-left: auto;
    margin-right: auto;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #0f0d0e;
    
    text-transform: uppercase;
    text-align: center;
  }
  
  .text__title__sidebar::after {
    content: "";
    
    display: flex;
    
    margin-top: -4px;
    margin-left: auto;
    margin-right: auto;
    
    width: 66px;
    height: 17px;
    
    box-sizing: border-box;
    border-bottom: 3px solid #e1d9bd;
  }
  
  .articles__sidebar {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 60px;
    margin-top: 30px;
  }
  
  .article__sidebar {
    min-height: 70px;
      
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .image__article__sidebar {
    height: 70px;
    width: 70px;
    
    background: #f4f7f6;
    
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .info__article__sidebar {
    min-height: 70px;
    width: 183px;
    
    display: flex;
    flex-direction: column;
  }
  
  .data__article__sidebar {
    width: 181px;
    margin-top: -4px;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #e1d9bd;
  }
  
  .title__article__sidebar {
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    
    text-transform: uppercase;
  }
  
  .title__article__sidebar:hover {
    color: #b59f5b;
  }
  
  .article__sidebar:nth-child(n+2) {
    margin-top: 22px;
  }
  
  .search {
    height: 48px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .windows_search {
    background: #f4f7f6;
    
    height: 48px;
    width: 224px;
    
    border: none;
    padding-left: 20px;
  }
  
  .windows_search:focus {
    outline-width: 1px;
    outline-color: #b59f5b;
    outline-style: solid;
    outline-offset: -1px;
  }
  
  .button_search {
    background: #b59f5b;
    background-image: url("../svg/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 48px;
    width: 48px;
    
    border: none;
    display: flex;
  }
  
  .button_search:hover {
    background: #323232;
    
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .title-email {
    width: 272px;
    height: 55px;
    
    display: flex;
    flex-direction: column;
  }
  
  .email_block {
    height: 114px;
    width: 100%;
    
    margin-top: 22px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .email {
    background: #f4f7f6;
    
    width: 272px;
    height: 48px;
    
    border: none;
    
    padding-left: 20px;
    box-sizing: border-box;
  }
  
  .email:focus {
    outline-width: 1px;
    outline-color: #b59f5b;
    outline-style: solid;
    outline-offset: -1px;
  }
  
  .subscribe {
    background: #b59f5b;
    
    width: 100%;
    height: 48px;
    
    text-transform: uppercase;
    
    border: none;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
  }
  
  .subscribe:hover {
    background: #323232;
  }
  
  .title-tags {
    width: 272px;
    height: 52px;
    
    display: flex;
    flex-direction: column;
  }
  
  .tags_sidebar {
    width: 100%;
    min-height: 30px;
    
    margin-top: 24px;
    
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag_sidebar {
    height: 30px;
    
    padding: 0 14px;
    margin-right: 5px;
    margin-bottom: 6px;
    
    border: 3px solid #eeeeee;
    box-sizing: border-box;
  }
  
  .tag_sidebar:hover {
    border: 3px solid #b59f5b;
  }
  
  .text_tag_sidebar {
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: #0f0d0e;
    
    text-transform: uppercase;
  }
  
  .title-themes {
    width: 272px;
    height: 37px;
    
    display: flex;
    flex-direction: column;
  }
  
  .categories {
    width: 100%;
    min-height: 1px;
    
    margin-top: 10px;
    
    display: flex;
    flex-direction: column;
  }
  
  .list_categories {
    height: 46px;
    
    display: flex;
  }
  
  .list_categories:nth-child(n+2) {
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
  }
  
  .category {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
  }
  
  .category:hover {
    color: #b59f5b;
  }
  
  .quantity {
    padding-top: 12px;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #b59f5b;
  }

.visually-hidden {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top: 201px;
  gap: 5.6%;
}

.product {
  width: 29.6%;
  min-height: 265px;

  border: 3px solid #d3c59d;
  box-sizing: border-box;

  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
}

.heading {
  font-family: "sans open", arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.info_card_price {
  font-family: "sans open", arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  margin-top: 5px;

  letter-spacing: 0.3px;
  line-height: 21px;
}

.link_card_price {
  color: #b59f5b;
}

.link_card_price:hover {
  text-decoration: underline;
}

.info_price {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 20px;
}

.sale_price {
  display: flex;
  flex-direction: column;

  font-family: "open sans", arial, sans-serif;
  font-weight: bold;

  align-self: flex-end;
}

.price {
  text-decoration: line-through;
  font-size: 14px;

  margin-bottom: -4px;
}

.sale {
  font-size: 20px;
  margin-bottom: 4px;
}

.button_card_price {
  height: 48px;
  width: 47%;

  border: none;

  background: #b59f5b;
  color: white;

  font-family: "open sans", arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.img_product {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -175px;

  z-index: -1;
}

.image_shop_one {
  position: absolute;

  top: -175px;

  z-index: -1;
}

.image_shop_two {
  background-image: url(../images/shop-item-desk2.jpg);
}

.image_shop_three {
  background-image: url(../images/shop-item-desk3.jpg);
}

.footer {
  width: 1200px;
  height: 274px;
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 64px;
  padding-bottom: 40px;
  
  box-sizing: border-box;
}

.socials_copyright {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  background: #f4f7f6;
  height: 83px;
  display: flex;
}

.articles-socials {
  height: 100%;
  margin: auto;
  display: flex;
}

.socials {
	list-style: none;
  padding-left: 0;
  margin: auto;
}

.socials-item {
	display: inline-block;
}

.socials-item:nth-child(n+2) {
  margin-left: 26px;
}

.socials-link {
	width: 20px;
	height: 20px;
  
  display: inline-block;
	padding: 0px;
	
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
}

.socials-link-dribbble {	
	background-image: url("../svg/001-dribbble.svg");
}

.socials-link-pinterest {
	background-image: url("../svg/001-pinterest.svg");
}

.socials-link-tumblr {
	background-image: url("../svg/003-tumblr.svg"); 
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright {
  min-height: 18px;
  margin-left: auto;
  margin-right: auto;
}

.info_copyright {
  font-family: "open sans", arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
  text-decoration: none;
}

.popup {
  position: absolute;

  display: none;

  background-color: rgba(0, 0, 0, 0.8);

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}

.form-x {
  position: relative;
  width: 18px;
  top: -4%;
  left: 104.6%;
}

.feedback {
  position: absolute;

  background-color: white;

  width: 390px;
  height: 592px;

  padding: 0 30px;

  box-sizing: border-box;

  top: 240px;
  left: calc((100%/2) - 195px);

  z-index: 2;
  opacity: 1;

  font-family: open sans, arial, sans-serif;
  font-size: 13px;
}

.text__title__popup {
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  font-family: "open sans", arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}

.text__title__popup::after {
  content: "";
    
  display: flex;
  
  margin-top: -4px;
  margin-left: auto;
  margin-right: auto;
  
  width: 66px;
  height: 17px;
  
  box-sizing: border-box;
  border-bottom: 3px solid #e1d9bd;
}

.popup_block {
  margin-top: 25px;

  font-family: open sans, arial, sans-serif;
  font-size: 13px;
}

.popup_block:nth-child(2) {
  margin-top: 32px;
}

.popup_block:nth-child(3) {
  margin-top: 28px;
}

.select {
  width: 100%;
  height: 47px;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 96%;
  appearance: none;
  padding: 0 20px;
  margin-top: 7px;
  color: #939594;
  background-color: #f4f7f6;
  border: none;
} 

.radio_block {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.radio {
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center center;
  margin: 3px 0 0 0;
}

.radio_no {
  margin-left: 19px;
}

.radio_yes:focus {
  background-image: url(../svg/form-circle.svg);
  
}

.radio_no:focus {
  background-image: url(../svg/form-circle.svg);
}

.popup_text {
  width: 100%;
  height: 127px;

  color: #939594;
  background-color: #f4f7f6;

  font-family: open sans, arial, sans-serif;
  font-size: 13px;

  margin-top: 7px;
  padding: 16px 23px 0 23px;

  border: none;
  box-sizing: border-box;
}

.button {
  width: 100%;
  height: 48px;

  font-family: open sans, arial, sans-serif;
  font-weight: bold;
  font-size: 14px;

  background-color: #b59f5b;
  color: white;

  border: none;
  margin-top: 25px;

  text-transform: uppercase;
}

@media (min-width: 641px) and (max-width: 1200px) {
  
  body {
    width: 100%;
  }

  .header {
    height: 100%;
  }
  
  .header-block  {
    width: 100%;
    height: 390px;
    padding: 43px 30px 0 30px;
  }
  
  .logo {
    width: 158px;
  }

  .menu-link {
    display: none;
  }

  .text-title-header {
    width: 650px;

    padding-top: 82px;

    font-size: 40px;
    line-height: 57px;
  }

  .menu {
    display: block;
  }

  .text_trands {
    font-size: 18px;
    margin-top: 43px;
  }

  .trend {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;

    margin-top: 18px;
  }

  .card {
    width: calc((100%/2) - 2.5px);
    height: 248px;
  }

  .card::after {
    width: 100%;
    height: 100%;
  }

  .info_card {
    min-height: 130px;
  }

  .text_card {
    font-size: 17px;
  }

  .main {
    width: 700px;
    padding: 51px 0 0 0;
  }

  .articles {
    width: 392px;
  }

  .article {
    width: 392px;
    flex-direction: column;
  }

  .info {
    width: 394px;
    padding-top: 15px;
  }

  .image {
    width: 391px;
    height: 302px;
  }

  .article:nth-of-type(4) {
    margin-top: 66px;
  }

  .article:nth-of-type(5) {
    margin-top: 35px;
  }

  .text_title {
    font-size: 17px;
  } 

  .title {
    width: 395px;
    min-height: 20px;

    line-height: 17px;
  }

  .data_author {
    min-height: 76px;

    padding-top: 27px;

    justify-content: flex-start;
  }

  .author {
    margin-left: 12px;
  }

  .description {
    padding: 0;

    min-height: 50px;
  }

  .text_end {
    width: 390px;

    margin-top: -4px;

    line-height: 22px;
  }

  .info {
    min-height: 212px;
  }

  .trends_product {
    margin-top: 20px;
  }

  .products {
    gap: 3.8%;
  }

  .product {
    width: 48.1%;
    min-height: 261px;
    margin-top: 20px;

    position: relative;
  }

  .product:nth-child(3) {
    margin-top: 220px;
    min-height: 243px;
  }

  .info_price {
    margin-top: 23px;
  }

  .heading {
    font-size: 17px;
  }

  .footer {
    width: 100%;
    padding-top: 50px;
  }

  .container {
    width: 700px;
    margin: 0 auto;
  }

  .socials {
    padding-left: 4px;
  }

  .socials_copyright {
    justify-content: flex-start;
  }

  .copyright {
    margin-top: 44px;
    padding-left: 12px;
  }

  .image_shop_one {
    top: -200px;
  }

  .feedback {
    top: 235px;
    left: calc((100%/2) - 195px);
  }

  .text__title__popup {
    margin-top: 18px;
    font-size: 18px;
  }

  .radio {
    width: 28px;
    height: 28px;
    background-size: 25px;
  }

  .radio_no {
    margin-left: 32px;
  }

  label {
    margin-left: 5px;
  }

  .form-x {
    width: 28px;
    top: -6%;
    left: 99.6%;
  }
}

@media (max-width: 640px) {
  body {
    width: 100%;
  }

  .header-block {
    width: 100%;
  }

  .menu-link {
    display: none;
  }

  .main {
    width: 360px  ;
    padding-top: 40px;
    flex-direction: column;
  }

  .articles {
    width: 100%;
  }

  .article {
    flex-direction: column;
    width: 100%;
    min-height: 100px;
  }

  .article:nth-child(n+2) {
    margin-top: 58px;
  }

  .article__sidebar {
    justify-content: flex-start;
  }

  .info {
    width: 100%;
    min-height: 100px;
    margin-top: 15px;
  }

  .info__article__sidebar {
    width: 240px;
    margin-left: 20px;
  }

  .trend {
    flex-direction: column;
    margin-top: 22px;
  }

  .card {
    width: 100%;
    height: 230px;
    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 14px;
  }

  .text_card {
    font-size: 16px;
  }

  .header {
    height: 640px;
  }

  .header-block {
    position: relative;
  }

  .logo {
    margin-top: 195px;
    margin-left: auto;
    margin-right: auto;
    width: 267px;
  }

  .menu {
    position: absolute;
    left: 89%;

    display: block;
  }

  .logo-menu {
    display: flex;
    flex-direction: row;
  }

  .line_menu {
    margin-right: 0;
    margin-top: 12px;
  }

  .text-title-header {
    font-size: 26px;
    line-height: 38px;
    padding-top: 249px;
  }

  .text_trands {
    font-size: 16px;
    margin-top: 38px;
  }

  .card::after {
    height: 230px;
  }

  .info_card {
    min-height: 127px;
    padding-top: 32px;
    padding-left: 22px;
    padding-bottom: 25px;
  }

  .text_card {
    font-size: 16px;
  }

  .image {
    background: #eff6f1;
    width: 100%;
    height: 255px;
  }

  .text_title {
    font-size: 16px;
    line-height: 16px;
  }

  .title {
    padding-top: 8px;
    font-size: 16px;
    min-height: 20px;
    width: 100%;
  }

  .data_author {
    padding-top: 18px;
    min-height: 20px;
    width: 100%;
  }

  .author {
    margin-left: 9px;
  }

  .data {
    width: 112px;
  }

  .description {
    width: 100%;
    min-height: 70px;
    padding-top: 14px;
  }

  .text {
    font-size: 14px;
  }

  .text:nth-child(n+2) {
    margin-top: 6px;
  }

  .sidebar {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
  }

  .text__title__sidebar {
    font-size: 16px;
  }

  .articles__sidebar {
    margin-top: 28px;
  }

  .windows_search {
    width: 100%;
    padding-left: 17px;
  }

  .button_search {
    width: 56px;
    padding: 0;
  }

  .aside-item {
    width: 100%;
    margin-bottom: 42px;
  }

  .aside-item:nth-child(3) {
    margin-bottom: 37px;
  }

  .aside-item:nth-child(4) {
    margin-bottom: 8px;
  }

  .email {
    width: 100%;
  }

  .tag_sidebar {
    padding: 0 12px;
  }

  .products {
    flex-direction: column;
  }

  .product {
    width: 100%;
    min-height: 220px;
    margin-top: 79px;
    padding-left: 17px;
    padding-right: 21px;
  }

  .product:nth-child(n+2) {
    margin-top: 278px;
  }

  .trends {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .image_shop_one {
    top: -255px;
  }

  .heading {
    font-size: 17px;
  }

  .button_card_price {
    width: 49%;
    padding: 0;
  }

  .info_price {
    margin-bottom: 27px;
  }

  .footer {
    width: 100%;
    padding-top: 45px;
  }

  .socials_copyright {
    width: 100%;
    justify-content: flex-start;
  }

  .container {
    width: 100%;
  }

  .copyright {
    margin-top: 42px;
  }

  .feedback {
    width: 330px;
    height: 546px;

    padding: 0 23px;

    top: 55px;
    left: calc(50% - 165px);
  }

  .text__title__popup {
    font-size: 16px;
    margin-top: -6px; 
  }

  .select {
    background-position: 94%;
  }

  .radio {
    width: 28px;
    height: 28px;
    background-size: 25px;
  }

  label {
    margin-left: 5px;
  }

  .radio_no {
    margin-left: 30px;
  }

  .popup_block:nth-child(3) {
    margin-top: 26px;
  }

  .form-x {
    width: 28px;
    top: -6%;
    left: 97.6%;
  }
} 

@media (max-width: 640px) and (orientation: landscape) {
  .trend {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc((100%/2) - 2.5px);
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trend {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    height: 100%;
    width: calc((100%/4) - 3px);
  }

  .text_card {
    font-size: 14px;
  }

  
}
