@font-face {
    font-family: "open sans";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
  }
  
@font-face {
    font-family: "open sans";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

body {
    width: 1660px;
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
}
  
li {
    list-style-type: none;
}
  
figure, h4, h3, h2, p, time, ul {
    margin: 0;
    padding: 0;
}

.header {
    width: 1660px;
    height: 450px;
    
    position: relative;
    
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000;
    z-index: -1;
}
  
.header::after {
    content: "";
    background-color: #000;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0.6;
    z-index: -1;
}
  
.header-block {
    width: 1200px;
    height: 450px;
    
    padding: 28px 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
    
    box-sizing: border-box;
}
  
.logo-menu {
    height: 41px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.logo {
    width: 182px;
    height: 41px;
}
  
.menu-link {
    display: flex;
    
    padding-top: 10px;
}
  
.item {
    list-style-type: none;
}
  
.item:nth-child(n+2) {
    margin-left: 35px;
}
  
.item-link {
    font-family: "open sans", arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    
    text-decoration: none;
    text-transform: uppercase;
}

.item-link:hover {
  color: red;
}
  
.content-header {
    height: 381px;
    
    justify-content: center;
    display: flex;
}
  
.text-title-header {
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 73px;
    width: 700px;
    padding-top: 60px;
}

.text_trands {
    margin-top: 55px;
    margin-right: auto;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0f0d0e;
    
    text-transform: uppercase;
    text-align: center;
}
  
.text_trands::after {
    content: "";
    
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px;
    
    width: 66px;
    height: 17px;
    
    box-sizing: border-box;
    border-bottom: 3px solid #e1d9bd;
}

.trend {
    width: 1660px;
    height: 320px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    gap: 5px;
}

.card {
    position: relative;

    width: 25%;
    padding-bottom: 16px;
    padding-left: 21px;
    padding-right: 21px;
    align-items: end;

    display: flex;

    z-index: -1;
    background-repeat: no-repeat;
    background-position: 0;
    background-color: #000;
    background-size: auto;
}

.trend_one {
    background-image: url(../images/trend1.jpg);
}

.trend_two {
    background-image: url(../images/trend2.jpg);
}

.trend_three {
    background-image: url(../images/trend3.jpg);
}

.trend_four {
    background-image: url(../images/trend4.jpg);
}

.card::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 320px;
    left: 0;
    top: 0;
    z-index: -1;
}

.info_card {
    border: 3px solid #7f763c;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 28px;
    padding-right: 30px;
    min-height: 146px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
  
    text-transform: uppercase;
    list-style-type: none;

    font-family: "open sans", Arial, sans-serif;
    font-weight: bold;

    font-size: 2px;
}

.tag {
    font-size: 14px;
    margin-bottom: 4px;
}

.tag:nth-child(n+2) {
    margin-left: 18px;
}
  
.tag:hover {
    text-decoration: underline;
    color: #dcd2b8;
}

.tag-link {
    color: #b59f5b;
}

.text_card {
    font-size: 20px;

    font-family: "open sans", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    color: white;
}

.text_card:hover {
  color: #816829;
} 

.main {
    width: 1200px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 64px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .articles {
    width: 778px;
    
    display: flex;
    flex-direction: column;
  }
  
  .article {
    width: 778px;
    min-height: 294px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .article:nth-child(n+2) {
    margin-top: 60px;
  }
  
  .image {
    background: #eff6f1;
    width: 381px;
    height: 294px;
  }
  
  .img {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .info {
    width: 367px;
    min-height: 294px;
    
    display: flex;
    flex-direction: column;
  }
  
  .tags {
    min-height: 19px;
    margin-top: -3px;
    
    display: flex;
    flex-wrap: wrap;
  
    text-transform: uppercase;
    list-style-type: none;
  }
  
  .tag {
    margin-bottom: 2px;
  }  
  
  .tag:nth-child(n+2) {
    margin-left: 18px;
  }
  
  .tag:hover {
    text-decoration: underline;
    color: #dcd2b8;
  }
  
  .tag-link {
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #b59f5b;
  }
  
  .title {
    width: 347px;
    min-height: 68px;
    padding-top: 4px;
    
    box-sizing: border-box;
    text-transform: uppercase;
  }
  
  .text_title {
    text-decoration: none;
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #0f0d0e;
    line-height: 24px;
  }
  
  .text_title:hover {
    color: #b59f5b;
  }
  
  .data_author {
    min-height: 60px;
    padding-top: 14px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .data {
    width: 80px;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #888888;
  }
  
  .author {
    width: 272px;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #000;
  }
  
  .description {
    min-height: 147px;
    padding-top: 18px;
    box-sizing: border-box;
  }
  
  .text {
    font-family: "open sans", arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #0f0d0e;
  }
  
  .text:nth-child(n+2) {
    margin-top: 13px;
  }
  
  .sidebar {
    width: 272px;
    
    display: flex;
    flex-direction: column;
  }
  
  .aside-item {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 57px;
  }
  
  .title-articles {
    width: 272px;
    height: 55px;
    
    display: flex;
    flex-direction: column;
  }
  
  .text__title__sidebar {
    height: 15px;
    
    margin-top: -4px;
    margin-left: auto;
    margin-right: auto;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #0f0d0e;
    
    text-transform: uppercase;
    text-align: center;
  }
  
  .text__title__sidebar::after {
    content: "";
    
    display: flex;
    
    margin-top: -4px;
    margin-left: auto;
    margin-right: auto;
    
    width: 66px;
    height: 17px;
    
    box-sizing: border-box;
    border-bottom: 3px solid #e1d9bd;
  }
  
  .articles__sidebar {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 60px;
    margin-top: 45px;
  }
  
  .article__sidebar {
    min-height: 70px;
      
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .image__article__sidebar {
    height: 70px;
    width: 70px;
    
    background: #f4f7f6;
    
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .info__article__sidebar {
    min-height: 70px;
    width: 183px;
    
    display: flex;
    flex-direction: column;
  }
  
  .data__article__sidebar {
    width: 181px;
    margin-top: -4px;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #e1d9bd;
  }
  
  .title__article__sidebar {
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    
    text-transform: uppercase;
  }
  
  .title__article__sidebar:hover {
    color: #b59f5b;
  }
  
  .article__sidebar:nth-child(n+2) {
    margin-top: 22px;
  }
  
  .search {
    height: 51px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .windows_search {
    background: #f4f7f6;
    
    height: 48px;
    width: 224px;
    
    border: none;
    padding-left: 20px;
  }
  
  .windows_search:focus {
    outline-width: 1px;
    outline-color: #b59f5b;
    outline-style: solid;
    outline-offset: -1px;
  }
  
  .button_search {
    background: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 48px;
    width: 48px;
    
    border: none;
    display: flex;
  }
  
  .button_search:hover {
    background: #323232;
    
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .title-email {
    width: 272px;
    height: 55px;
    
    display: flex;
    flex-direction: column;
  }
  
  .email_block {
    height: 114px;
    width: 100%;
    
    margin-top: 40px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .email {
    background: #f4f7f6;
    
    width: 272px;
    height: 48px;
    
    border: none;
    
    padding-left: 20px;
    box-sizing: border-box;
  }
  
  .email:focus {
    outline-width: 1px;
    outline-color: #b59f5b;
    outline-style: solid;
    outline-offset: -1px;
  }
  
  .subscribe {
    background: #b59f5b;
    
    width: 100%;
    height: 48px;
    
    text-transform: uppercase;
    
    border: none;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
  }
  
  .subscribe:hover {
    background: #323232;
  }
  
  .title-tags {
    width: 272px;
    height: 52px;
    
    display: flex;
    flex-direction: column;
  }
  
  .tags_sidebar {
    width: 100%;
    min-height: 30px;
    
    margin-top: 42px;
    
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag_sidebar {
    height: 30px;
    
    padding: 0 14px;
    margin-right: 5px;
    margin-bottom: 6px;
    
    border: 3px solid #eeeeee;
    box-sizing: border-box;
  }
  
  .tag_sidebar:hover {
    border: 3px solid #b59f5b;
  }
  
  .text_tag_sidebar {
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: #0f0d0e;
    
    text-transform: uppercase;
  }
  
  .title-themes {
    width: 272px;
    height: 37px;
    
    display: flex;
    flex-direction: column;
  }
  
  .categories {
    width: 100%;
    min-height: 1px;
    
    margin-top: 28px;
    
    display: flex;
    flex-direction: column;
  }
  
  .list_categories {
    height: 46px;
    
    display: flex;
  }
  
  .list_categories:nth-child(n+2) {
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
  }
  
  .category {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
  }
  
  .category:hover {
    color: #b59f5b;
  }
  
  .quantity {
    padding-top: 12px;
    
    font-family: "open sans", arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #b59f5b;
  }

.visually-hidden {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-title-header:hover {
  background-color: red;
}